/* style.css */

* { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    color: white;
}

.title { 
    background-color: blueviolet;
    font-size: 30px;
    text-align: center;
}

.subtitle {
    background-color: blue;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.container {
    font-size: 20px;
}
